body {
	margin: 0;
	padding: 0;
}

.content-hidden {
	display: none;
}
.game-container--full {
	width: 100%;
}
.game-container--content {
	margin: 20px;
	padding: 20px;
}

/*--- game ----*/
.game-container {
	position: relative;
	overflow: hidden;
}
.image-full {
	width: 100%;
	position: relative;
	display: block;
}
.game-bg {
	z-index: 0;
}
.controller-container {
	position: absolute;
	background: url('../images/circle_red.png') no-repeat center center;
	background-size: 100% 100%;
	width: 200px;
	height: 200px;
	left: -50px;
	bottom: -100px;
}

@media only screen and (min-width: 768px) { 
	.controller-container { 
		width: 400px;
		height: 400px;
		left: -100px;
		bottom: -200px;
	}
}

@media only screen and (min-width: 1100px) {
	.controller-container { 
		width: 500px;
		height: 500px;
		left: -150px;
		bottom: -250px;
	}
}

@media only screen and (min-width: 1600px) {
	.controller-container { 
		width: 829px;
		height: 829px;
		left: -200px;
		bottom: -400px;
	}
}

/*--- video conclusion ---*/
.video-place-holder {
	display: block;
	width: 100%;
}


/*--- question ---*/
.question-container {
	border: 2px solid #2a8078;
	border-radius: 2px;
	background-color: #112121;
}
.question-text {
	color: #ffffff;
	padding: 0 20px;
	margin: 0 auto 10px;
	font-size: 14px;
	line-height: 1.2;
	width: 60%;
	text-align: center;
}

.question-answer {
	border: 1px solid #2a8078;
	background-color: #545d60;
	width: 60%;
	height: 80px;
	margin: 0 auto 20px;
	padding: 5px;
	display: block;
}
.question-answer:focus {
	outline: none;
}

.form-button-container {
	text-align: right;
}
.form-button {
	display: inline-block;
	padding: 5px 20px;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #2a8078;
	border-radius: 2px;
	background-color: #35433a;
	margin: 0 5px;
	cursor: pointer;
}
.form-button:hover {
	background-color: #3e515b;
}